<%= render "shared/header" %>
<main>

  <section class="py-3 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">

         <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <%= link_to "こどもの登録",new_user_registration_path, method: :get ,class: "btn btn-outline-dark" %>
            </div>
        
      </div>
    </div>
  </section>

        <% if user_signed_in? %>
          <%= "こんにちは、" %>
          <%= link_to "#{@user.nickname}さん", '#', class: :greeting__link%>
        <% end %>

<%# 子ども一覧  %>

        <%= "#{@family.family_name}さんのこども"%>
        <% @users.each do |user| %>
          <p><%= user.nickname %></p>
         <% end %>

        <div class='task-info'>
          <h3 class='task-name'>
            <%# task.task_name %>
          </h3>
        
            
            
            </span>
            <div class='star-btn'>
              <%# image_tag "star.png", class:"star-icon" %>
            </div>
          </div>
        </div>
        <%# end %>
      </li>
      <%# end %>
<%= render "shared/footer" %>