<div class="task">
  <div class="upper-task">

    <div class="task-name">
      <%= link_to task.taskname , family_user_task_path(family_id: @user.family_id, user_id: @user.id ,id: task.id) %>
    </div>

    <div class="task-offer-date">
      <div>頼んだ日：
        <%= l task.created_at %>
      </div>
    </div>

    <div class="task-done-date">
      <% if task.updated_at != task.created_at%>
        <div>完了日：
          <%= l task.updated_at %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="lower-task">
    <div class="task-schedule">
      <div>スケジュール：
        <%= task.schedule.name %>
      </div>
    </div>

  <% if task.status_id == 0 %> 
    <% if user_signed_in? %>
      <div id="task-id=<%= task.id %>" class="statuschange-btn">
        <%= render"status/taskstatus",task: task%>
        <<button data-taskid="<%= task.id %>" data-new-status-id="1" type="submit" class="btn btn-success statuschange-btn">ほうこく！</button>
      </div>
      <%# <%= link_to "ほうこく！", family_user_task_path(user_id: @user.id, family_id: @user.family_id, id: task.id, task: { status_id: 1 }), method: :patch, remote: true, class: "btn btn-outline-dark statuschange" ,
        data: { 'taskid': task.id, 'newstatus': 1, 'family-id': @user.family_id,'user-id': @user.id } %> %>
    <% end %>
  <% elsif task.status_id == 1 %>
    <% if family_signed_in? %>
      <div data-task-id=<%= task.id %> class="statuschange-btn">
        <%= render"status/taskstatus",task: task%>
        <%# <%= link_to "承認", family_user_task_path(user_id: @user.id, family_id: @user.family_id, id: task.id, task: { status_id: 2 }), method: :patch, remote: true, class: "btn btn-outline-dark statuschange" ,
        data: { 'taskid': task.id, 'newstatus': 2, 'family-id': @user.family_id, 'user-id': @user.id } %> %>
      </div>
    <% end %>
  <% end %>

  </div> 
  </div>



</div>