<%= render "shared/header" %>
<main>

  <section class="py-3 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">きょうのにんむ</h1>
      </div>
    </div>
        <% if family_signed_in? %>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <%= link_to "こどもの登録", new_user_registration_path, class: "btn btn-outline-dark" %>
          </div>
          <%= "こんにちは、" %>
            <%= link_to "#{current_family.family_name}さん", family_path(current_family.id), class: :greeting__link%>
        <% end %>
      
  </section>

<%# 今日の依頼タスク一覧 %>
        <% if user_signed_in? %>
          <%= "こんにちは、" %>
          <%= link_to "#{current_user.nickname}さん", '#', class: :greeting__link%>
        <% end %>
  <ul class='task-lists'>
    <%# if Task.exists? %>
      <%# @tasks.each do |task| %>
      <li class='list'>
        <%#= link_to task_path(task), method: :get do %>
        <div class='task-img-content'>
          <%#= image_tag task.image, class: "task-img" %>

          <%# if Order.exists?(task_id: task.id) %>
          <div class='done'>
            <span>にんむかんりょう！</span>
          </div>
          <%# end %>

        </div>
        <div class='task-info'>
          <h3 class='task-name'>
            <%# task.task_name %>
          </h3>
          <div class='task-price'>
            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-piggy-bank-fill" viewBox="0 0 16 16">
            <path d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069c0-.145-.007-.29-.02-.431.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a.95.95 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.735.735 0 0 0-.375.562c-.024.243.082.48.32.654a2.112 2.112 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595Zm7.173 3.876a.565.565 0 0 1-.098.21.704.704 0 0 1-.044-.025c-.146-.09-.157-.175-.152-.223a.236.236 0 0 1 .117-.173c.049-.027.08-.021.113.012a.202.202 0 0 1 .064.199Zm-8.999-.65a.5.5 0 1 1-.276-.96A7.613 7.613 0 0 1 7.964 3.5c.763 0 1.497.11 2.18.315a.5.5 0 1 1-.287.958A6.602 6.602 0 0 0 7.964 4.5c-.64 0-1.255.09-1.826.254ZM5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"/>
            </svg>
            <%#= task.task_price %>ポイント<br><%#= task.task_shipping_fee_status.name %>
            </span>
            <div class='star-btn'>
              <%# image_tag "star.png", class:"star-icon" %>
            </div>
          </div>
        </div>
        <%# end %>
      </li>
      <%# end %>
<%= render "shared/footer" %>